<div id="container">
  
    <mat-toolbar class="extend-toolbar">
      <span>
                <img src="../../assets/images/logo-SFEIR-blanc-orange.png" width="200" height="85" >
      </span>

      <span class="flex"></span>

      <span>
          <i class="material-icons">
              person_outline
          </i>
        <b>andressegeofried@gmail.com</b>
      </span>
    </mat-toolbar>

    
    <mat-toolbar>
        <span class="flex"></span><b><h1  id="head" style="color:#E75112;"> POSITIONEMENT D'UN SFEIRIEN</h1></b><span class="flex"></span>
    </mat-toolbar>


    <sfeir-home></sfeir-home>

    <mat-toolbar class="title-center">  
        <span class="flex"></span>  <b>Sfeir Enterprise ©2018 Implemented By Andresse Njeungoue</b><span class="flex"></span>
    </mat-toolbar>

</div>